/*
* @Author: LongDark
* @Date:   2018-05-11 16:04:20
* @Last Modified by:   win7
* @Last Modified time: 2018-05-26 19:04:19
*/
/*主体样式*/
body{
  text-align:center;
  font:16px;
  font-family: "SimSun","SimHei","Microsoft YaHei";
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
hr{
  margin: 0;
  padding: 0;
}
/*页面布局*/
.layout{
  background-color:#FFF8E5;
  margin: 0 auto;
  display: flex;
}
.main-left{
  width: 200px;
  background:pink;
  flex:none;
}
.main-right{
  width: 200px;
  background:grey;
  flex:none;
}
.main-left1{
  width: 200px;
  background:#fff;
  flex:0 100 auto;
}
.main-right1{
  width: 200px;
  background:#fff;
  flex:0 100 auto;
}
.main{
  margin:0 20px;
  width: auto;
  background-color:#ccc;
  flex:auto;
}
/*内容样式*/
.background-image{
  position: relative;
  height: 600px;
  background-image:url(../images/background-image.jpg) ;
  background-size:100%;
  background-repeat: no-repeat;
}
.title{
  display: inline-block;
  width: 300px;
  position: absolute;
  top:50%;
  left:50%;
  margin:-34px 0 0 -150px ;
  font-size:60px;
  color:#fff;
  letter-spacing:10px;
}
.p1{
  font-size:25px;
  color:#999;
  margin:50px auto 30px auto;
  letter-spacing:6px;
}
.bt1{
  height:40px;
  margin:40px auto 20px auto;
}
.b1{
  line-height:40px;
  display:inline-block;
  width:120px;
  height:40px;
  font-size: 16px;
  margin:0 15px;
  border-radius:5px;
  letter-spacing:4px;
  background-color:#55aa79;
  color:#fff;
  transition:all .3s;
}
.b1:hover{
  line-height:46px;
  margin:0px 20px 0 20px;
  font-size:22px;
  width:140px;
  height:50px;
  background-color:#448861;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.b1:active{
  background-color:#77bb94;
}
.b2{
  display:inline-block;
  width:100px;
  height:20px;
  font-size: 20px;
  padding:8px 18px;
  margin:30px 20px;
  border-radius:5px;
  letter-spacing:2px;
  background-color:#55aa79;
  color:#fff;
  transition:all .3s;
}
.bt2{
  height: 80px;
}
.b2:hover{
  font-size:22px;
  margin:30px 30px;
  width:110px;
  height:22px;
  background-color:#448861;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.b2:active{
  background-color:#77bb94;
}
.author{
  margin:30px;
  font-size:20px;
  color:#999;
  font-weight:bold;
}
.author a:hover{
  color:#448861;
}
.author a:active{
  opacity:0.8;
}
.author a{
  color:#55aa79;
}
.copyright{
  color:#666;
}
/*图片样式*/
.main-img{
  display: inline-block;
  margin-top:30px;
  height:681.8px;
  width:490px;
  background-image:url(https://upload-images.jianshu.io/upload_images/11954160-5af85dca320d100a.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700);
  background-position:45% 80%;
  background-size: 490px 681.8px;
}
@keyframes ani{
  0%{
    background-size: 490px 681.8px;        /*若不设置 0%：没有平滑的动画效果 */
  }                                        /*若设置多个百分梯度：动画会分梯度生硬过度*/
  100%{
    background-size: 700px 974px;
  }
}
.main-img:hover{
  animation:ani 1.5s;                        /*与@keyframes绑定 并规定在1s内完成动画*/
  animation-fill-mode : forwards;          /*鼠标不离开容器，仍保持动画的最后效果*/
}
/*导航栏样式*/
nav{
  z-index: 1;
  opacity: 0.6;
  font-weight: bold;
  display: inline-block;
  background-color: rgba(255,248,229,0.8);
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 1px 20px 1px rgba(214,208,184,1.8);
  position: fixed;
  top:0;
  left:0;
}
nav *{
  padding: 0;
  margin: 0;
}
nav a{
  display: inline-block;
  color: #333;
  padding: 30px 40px;
  font-size: 20px;
  letter-spacing: 2px;
}
nav a:hover{
  border-radius:2px;
  color: #fff;
  background-color: rgba(85,170,121,0.8);
}
ul{
  list-style: none;
}
.main-icon{                       /*左侧图标*/
  background-image:url(images/826638902195112976.jpg);
  background-repeat: no-repeat;
  background-size: 80px 80px;
  border-radius: 50%;
  float:left;
  position: relative;
  top:10px;
  left: 80px;
  width:70px;
  height:70px;
}
nav>ul{
  float: right;              /*导航栏右侧浮动*/
}
nav>ul{
  position: relative;
  right:100px;                /*导航栏样式靠中间*/
}
nav>ul>li{
  float: left;
  position: absolute;
}
.child{
  position: relative;
}
.secmu{
  position: absolute;
  display: none;
}
.secmu a{
  background: #FFF8E5;
  padding: 15px 40px;
  border-radius:4px;
}
.child:hover .secmu{
  display: block;
}
