/*
* @Author: LongDark
* @Date:   2018-05-13 02:30:15
* @Last Modified by:   win7
* @Last Modified time: 2018-05-14 14:07:58
* 图片样式
*/
body{
  text-align:center;
  font:16px;
  background-color:#fff2e3;
  font-family: "SimSun","SimHei","Microsoft YaHei";
}
a{
  text-decoration:none;
}
/*内容样式*/
.title{
  font-size:60px;
  color:#666;
  margin:50px;
  letter-spacing:10px;
}
.p1{
  font-size:25px;
  color:#999;
  margin:50px auto 30 auto;
  letter-spacing:6px;
}
.bt1{
  height:40px;
  margin:40px auto 30px auto;
}
.b1{
  line-height:34px;
  display:inline-block;
  width:100px;
  height:35px;
  font-size: 16px;
  margin:0 15px;
  border-radius:5px;
  letter-spacing:2px;
  background-color:#55aa79;
  color:#fff;
  transition:all .3s;
}
.b1:hover{
  line-height:40px;
  margin:0px 30px 0 20px;
  font-size:20px;
  width:120px;
  height:40px;
  background-color:#448861;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.6)
}
.b1:active{
  background-color:#77bb94;
}
.b2{
  display:inline-block;
  width:100px;
  height:20px;
  font-size: 20px;
  padding:8px 18px;
  margin:30px 20px;
  border-radius:5px;
  letter-spacing:2px;
  background-color:#55aa79;
  color:#fff;
  transition:all .3s;
}
.bt2{
  height: 80px;
}
.b2:hover{
  font-size:22px;
  margin:30px 30px;
  width:110px;
  height:22px;
  background-color:#448861;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2),0 8px 20px 0 rgba(0,0,0,0.6)
}
.b2:active{
  background-color:#77bb94;
}
.author{
  margin:30px;
  font-size:20px;
  color:#999;
  font-weight:bold;
}
.author a:hover{
  color:#448861;
}
.author a:active{
  opacity:0.8;
}
.author a{
  color:#55aa79;
}
.copyright{
  color:#666;
}
/*图片样式*/
.main-img{
  display: inline-block;
  margin-top:30px;
  height:681.8px;
  width:490px;
  background-image:url(https://upload-images.jianshu.io/upload_images/11954160-5af85dca320d100a.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700);
  background-position:45% 80%;
  background-size: 490px 681.8px;
}
@keyframes ani{
  0%{
    background-size: 490px 681.8px;        /*若不设置 0%：没有平滑的动画效果 */
  }                                        /*若设置多个百分梯度：动画会分梯度生硬过度*/
  100%{
    background-size: 700px 974px;
  }
}
.main-img:hover{
  animation:ani 1.5s;                        /*与@keyframes绑定 并规定在1s内完成动画*/
  animation-fill-mode : forwards;          /*鼠标不离开容器，仍保持动画的最后效果*/
}