/*
* @Author: LongDark
* @Date:   2018-05-11 16:04:20
* @Last Modified by:   win7
* @Last Modified time: 2018-05-11 21:24:04
*/
/*主体样式*/
*{
  padding:0px;
  marign:0px;
  text-align:center;
}
body{
  font:14px/1.5;
  background-color:#fff2e3;
  font-family: "SimSun","SimHei","Microsoft YaHei";
}
a{
  text-decoration:none;
}
/*内容样式*/
.main .title{
  font-size:60px;
  color:#666;
  margin:50px;
  letter-spacing:10px;
}
.main .p1{
  font-size:25px;
  color:#999;
  margin:50px auto 30 auto;
  letter-spacing:6px;
}
.main li{
  display:inline-block;
  margin:40px 8px;
}
.main .btn:hover{
  background-color:#448861;
}
.main .btn:active{
  opacity:0.8;
}
.main .btn{
  font-size: 20px;
  padding:8px 18px;
  margin:8px;
  border-radius:5px;
  letter-spacing:2px;
  background-color:#55aa79;
  color:#fff;
}
.main .main-img{
  width:500px;

}
.author{
  margin:30px;
  font-size:20px;
  color:#999;
  font-weight:bold;
}
.author a:hover{
  color:#448861;
}
.author a:active{
  opacity:0.8;
}
.author a{
  color:#55aa79;
}
.copyright{
  color:#666;
}